html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

a, a:visited, a:active, a:focus, a:hover {
  color: #62c9ba;
}

#del-account {
  width: 34px;
  height: 34px;
  padding: 6px 12px;
}

#del-account-label {
  vertical-align: 60%;
  padding-bottom: 20px;
}

.research-area .row .col-md-6 {
  padding-top: 50px;
}

#colorPicker input {
  width: 100%;
  padding: 20px;
}

#calculator form, #calendar input {
  padding: 5px;
  text-align: center;
}

#calculator input[type="textfield"] {
  text-align: right;
}

#colorPicker input, #calculator form {
  height: 300px;
}

#colorPicker, #calculator, #calendar {
  width: 70%;
  margin: 0 auto;
}

#calendar input {
  width: 100%;
  margin: 0 auto;
  border: 1px solid #62c9ba;
}

#colorPicker input:focus, #colorPicker input:hover, #calendar input:hover, #calendar input:focus {
  outline: none;
  cursor: pointer;
}

#calculator p {
  padding: 2px 0;
  margin: 0 auto;
}

.tool-row {
  margin-bottom: 200px;
}

.tool-label {
  display: block;
  font-family: 'Amatic SC', cursive;
  font-size: 50px;
  font-weight: normal;
  text-align: center;
  color: #333;
  padding-bottom: 10px;
}

.tool-p {
  text-align: center;
  padding-bottom: 10px;
  width: 40%;
  margin: 5px auto;
}

.warnings {
  text-align: center;
  color: #62c9ba;
  font-size: 14px;
  margin: 0 auto 40px;
  text-transform: capitalize;
}

.invisible {
  display: none;
}

.playground-top-message {
  /*background-color: rgba(98, 201, 186, 0.9);
  background: radial-gradient(circle, #62c9ba, #88d7cb);*/
  background-color: #545454;
  color: #fff;
  text-align: center;
  padding: 3px 5px;
  border-left: 7px solid #62c9ba;
  border-top: 1px solid #a9a9a9;
}

.playground-save-message {
  background-color: #545454;
  color: #fff;
  text-align: center;
  padding: 3px 5px;
  border-left: 7px solid #ee7600;
  border-top: 1px solid #a9a9a9;
}

.playground-top-message h6, .playground-save-message h1 {
  line-height: 1.5em;
}

.blink {
  /* animation: blinker 1s linear infinite; */
  text-decoration: blink;
	-webkit-animation-name: blink;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: 6;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-direction: alternate;
}

@-webkit-keyframes blink {
  from {opacity: 1.0;}
  to {opacity: 0.2;}
}

#article-page h2 {
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}

.active-tab {
  border: 5px dashed #62c9ba;
}

.color-box-black {
  background-color: #333;
}

.color-box-orange {
  background-color: #ee7600;
}

.color-box-yellow {
  background-color: #eeed00;
}

.color-box-grey {
  background-color: #d3d3d3;
}

.color-box-white {
  background-color: #fff;
}

.color-box-black, .color-box-white, .color-box-grey, .color-box {
  border-radius: 10px;
  height: 30px;
  width: 60px;
  display: inline-block;
  margin-top: 5px;
  margin-right: 10px;
  vertical-align: middle;
}

.white-area {
  background-color: #f0f0f0;
  height: 225px;
  border-bottom: 10px solid #333;
}

.white-area .container {
  margin: auto;
  position: absolute;
  top: 20.5%;
  transform: translate(10%, 50%);
}

.in-the-middle {
  width: 100%;
  height: 500px;
  border-top: 215px solid #f0f0f0;
  background-color: #62c9ba;
  position: fixed;
}

.in-the-background {
  height: 500px;
  background-color: #333;
}

.in-the-background div {
  width: 100%;
  position: fixed;
}

.all-article-section {
  padding-top: 50px;
}

.article {
  margin: 20px auto;
  padding: 10px 20px 20px;
  text-align: justify;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
  -ms-box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
  /*box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);

    background: #ccc;
    background: linear-gradient(45deg, #ccc, #fff);
    min-height: 100%;
  */
}

#last-article {
  margin-bottom: 150px;
}

.article p {
  margin: 15px auto;
  padding-top: 15px;
  border-top: 1px solid #333;
}

.article span {
  text-align: left;
  font-size: 12px;
  color: #ccc;
}

.read-article a {
  float: right;
  color: #ccc;
}

.read-article a:hover {
  color: #62c9ba;
}

.article-black {
  background-color: #333;
}

.article-black h3, .article-orange h3 {
  color: #fff;
}

.article-black p {
  color: #ccc;
  border-top: 1px solid #ccc;
}

.article-white p {
  border-top: 1px solid #ccc;
}

.article-black img, .article-white img {
  border-radius: 10px;
}

.article-white h3, .article-grey h3, .article-grey span, .article-grey a, .article-yellow h3, .article-yellow p, .article-yellow span, .article-yellow a, .article-orange span, .article-orange a {
  color: #333;
}

.article-orange {
  background-color: #ee7600;
}

.article-yellow {
  background-color: #eeed00;
}

.article-grey {
  background-color: #d3d3d3;
}

.article h3 {
  text-align: center;
  padding: 10px 0;
  border-radius: 10px;
  font-family: 'Amatic SC', cursive;
  font-size: 50px;
}

.article a:hover {
  text-decoration: none;
}

.article img {
  max-width: 100%;
  vertical-align:inherit;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0px;
  border-top: 0;
  border-right: 0;
  border-left: 0;
}

/*    .navbar-default .navbar-brand {
 *    color: #62c9ba;
 *    }
 *
 *    header {
 *    padding-top: 10px;
 *    text-align: right;
 *
 *    position: fixed;
 *    top: 0;
 *    z-index: 10;
 *    }
 *
 *
 */

main {
  height: auto;
  padding-bottom: 350px;
}

.service-checkboxes {
  width: 80%;
  height: 520px;
  margin: 0 auto;
  padding: 110px 0;
}

.service-checkbox img, .service-checkbox > p {
  display: inline;
  padding: 5px;
  height: 60px;
}

.service-checkbox img:hover, .about-support .about:hover {
  /* https://www.webdesignerdepot.com/2014/05/8-simple-css3-transitions-that-will-wow-your-users/ */
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  transition: 150ms;
}

.about {
  height: 520px;
}

#magnifier {
  padding-left: 30px;
}

.about img {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.5;
}

.about-control-panel {
  height: 520px;
}

.about-control-panel ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-left: 1px solid #ccc;
}

.rotate:hover {
  /* https://www.webdesignerdepot.com/2014/05/8-simple-css3-transitions-that-will-wow-your-users/ */
  -webkit-transform: rotateZ(-30deg);
  -ms-transform: rotateZ(-30deg);
  transform: rotateZ(-30deg);
  transition: 200ms ease;
}

.presentation {
  padding-top: 80px;
  padding-bottom: 80px;
}

.about-start {
  background-image: url("../img/articles/background.png");
  border-top: 15px solid #ccc;
}

.about-start .story {
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
  -ms-box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
}

.about-performance .story, .about-functionalities .story, .about-support .story {
  padding: 60px;
}

#test-scores {
  padding-bottom: 15px;
}

.test-bars {
  width: 80%;
  padding: 20px;
  margin: 0 auto;
}

.test-bars h2 {
  text-align: center;
}

.perform-bar {
  height: 15px;
  border-radius: 20px;
  display: inline-block;
}

/*
#perform-bar-1a:hover, #perform-bar-2a:hover, #perform-bar-3a:hover, #perform-bar-4a:hover {
  width: 100%;
  transition: width 2s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
*/

#perform-bar-1a {
  width: 62%;
}

#perform-bar-2a {
  width: 85%;
}

#perform-bar-3a {
  width: 71%;
}

#perform-bar-4a {
  width: 53%;
}

#perform-bar-1b, #perform-bar-2b, #perform-bar-3b, #perform-bar-4b {
  position: relative;
  top: -20px;
  left: 0px;
  z-index: -1;
}

.perform-bar:nth-child(odd) {
  background-color: #62c9ba;
  z-index: 1;
}

.perform-bar:nth-child(even) {
  background-color: #e7e7e7;
  width: 100%;
}

.percentage {
  float: right;
}

.client-side {
  color: #fff;
  background-color: #62c9ba;
}

.client-side img, .server-side img {
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.server-side, .about-services, .about-functionalities {
  background-color: #f8f8f8;
}

.story > p {
  text-align: justify;
  padding-top: 20px;
}

.story > h2 {
  text-align: center;
}

.intro {
  text-align: center;
  margin: 40px 0;
}

.intro > h1, .presentation h1 {
  font-family: 'Amatic SC', cursive;
  text-transform: capitalize;
  text-align: center;
  font-size: 80px;
  margin: 0 auto;
}

.intro > h4 {
  font-size: 20px;
  line-height: 1.5em;
  padding-top: 10px;
}

.home-header {
  background-color: #62c9ba;
  padding: 1px 0;
}

.home-header .intro {
  border-bottom: 1px dashed #fff;
}

.home-header h6 {
  width: 90%;
  margin: 0 auto;
  line-height: 1.5em;
}

.width-limit {
  width: 40%;
  margin: 0 auto;
  line-height: 1.5em;
  padding-top: 20px;
}

div.width-limit {
  height: 5px;
}

#full-width-project-header {
  color: #fff;
  background-color: #62c9ba;
  width: 100%;
  padding: 0;
  margin: 0;
}

#full-width-account-header {
  color: #fff;
  background-color: #62c9ba;
  width: 100%;
  padding: 0;
}

#full-width-tool-header {
  color: #fff;
  background-color: #424242;
  width: 100%;
  padding: 0;
  margin: 0;
}

#full-width-home-header {
  color: #fff;
  background-color: #62c9ba;
  width: 100%;
  padding-bottom: 30px;
}

.project-area {
  background: linear-gradient(to right, #fff, #e7e7e7);
}

.account-area .container {
  margin-bottom: 50px;
}

.project-area .intro, .account-area .intro, .research-area .intro {
  border-bottom: 1px dashed #fff;
  padding-bottom: 30px;
}

.project-data:last-of-type {
  padding-bottom: 150px;
}

.project-data {
  background-color: transparent;
}

.project-data p {
  text-align: center;
}

.project-type-heading {
  font-family: 'Amatic SC', cursive;
  text-align: left;
  color: #62c9ba;
  font-size: 80px;
  margin-top: 0px;
  padding: 20px 0;
}

.project-count {
  float: right;
  color: #62c9ba;
}

table {
  width: 90%;
  margin: 0 auto;
  border-top: 40px solid #fff;
  border-bottom: 30px solid #fff;
  border-left: 100px solid #fff;
  border-right: 100px solid #fff;
  background-color: #fff;
  box-shadow: 5px 10px 18px #888888;
  -webkit-box-shadow: 5px 10px 18px #888888;
  -ms-box-shadow: 5px 10px 18px #888888;
  border-radius: 100px;
}

table tr:hover {
  background-color: #f8f8f8;
}

table th {
  font-family: 'Amatic SC', cursive;
  font-size: 25px;
  height: 50px;
}

table thead {
  border-bottom: 5px solid #e7e7e7;
  background-color: #f8f8f8;
}

table thead th, table {
  text-align: center;
}

table td:nth-child(5) {
  text-transform: uppercase;
  color: #ee7600;
}

.behind-search {
  background-color: #62c9ba;
  text-align: center;
  padding-top: 280px;
  padding-bottom: 280px;
  position: relative;
  top: 0;
  width: 100%;
}

.user-steps {
  background: linear-gradient(to right, white, lightgrey);
  text-align: center;
  padding-top: 120px;
  padding-bottom: 160px;
  border-top: 1px dashed #424242;
  border-bottom: 1px dashed #424242;
  position: relative;
  width: 100%;
}

.beginning-circle {
  float: left;
  font-size: 50px;
  color: #424242;
  position: relative;
  bottom: 20px;
}

.ending-pin {
  font-size: 70px;
  color: #424242;
  position: relative;
  bottom: 195px;
  float: right;
  right: 5px;
}

.user-steps p {
  font-family: 'Amatic SC', cursive;
  font-size: 50px;
  padding: 30px 0;
  width: 50%;
  margin: 0 auto;
  color: #424242;
  /* vertical-align: middle; DOESN'T WORK */
}

.step-one {
  border-bottom: 10px dashed #424242;
  height: 150px;
}

.step-two {
  border-left: 10px dashed #424242;
  border-top: 10px dashed #424242;
  border-right: 10px dashed #424242;
  height: 150px;
}

.step-three {
  border-bottom: 10px dashed #424242;
  height: 150px;
}

.step-four {
  border-left: 10px dashed #424242;
  border-top: 10px dashed #424242;
  height: 150px;
}

.move-to-top {
  right: 0;
  bottom: 80px;
  position: fixed;
  width: 100px;
  height: 100px;
  background-color: #fff;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  text-align: center;
  z-index: 2;
}

#searchform {
  height: 450px;
  width: 100%;
  background-color: #f69454;
  z-index: 2;
}

#search-part h4 {
  padding-top: 20px;
}

#search-part h4, #search-part h6 {
  color: #fff;
  text-align: center;
}

#search-google {
  width: 40%;
  margin: 0 auto;
  padding-top: 30px;
}

#searchform label, #searchform i {
  color: #fff;
}

#search-area{
  width: 100%;
  margin: 0 auto;
}

#search {
  height: 50px;
  border-radius: 40px;
  display: inline;
  border: 4px solid #f0f0f0;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
}

#search-link {
  text-align: center;
  background: none;
}

.fa-search {
  font-size: 50px;
  vertical-align: middle;
  padding: 2%;
}

.user-options {
  width: 300px;
  margin: 5px;
  height: 200px;
  background-color: #ccc;
  border-radius: 20px;
}

.user-options:first-of-type {
  margin-left: 0;
}

.user-options:last-of-type {
  margin-right: 0;
}

.user-home-page {
  height: 2400px;
}

.user-home-page .col-md-6 {
  margin: 0;
  padding: 0;
}

.full-width {
  padding: 0;
}

#tool-part, #setting-part, #project-part, #blog-part {
  width: 100%;
  margin: 0 auto;
  height: 500px;
}

.zero-padding {
  padding: 0;
}

.user-parts > div {
  text-align: center;
}

.user-parts p {
  width: 70%;
  margin: 30px auto;
  text-align: justify;
}

.user-parts a {
  background-color: #62c9ba;
  border-radius: 20px;
  color: #fff;
  padding: 10px 15px;
  text-transform: capitalize;
}

.user-parts .dark {
  background-color: #fff;
  color: #62c9ba;
}

.user-parts .light {
  color: #fff;
}

#project-part {
  background-color: #d3d3d3;
}

#project-part:hover {
  background: radial-gradient(#fff, #d3d3d3);
}

#blog-part, #setting-part {
  background-color: #424242;
}

#blog-part:hover, #setting-part:hover {
  background: radial-gradient(#242424, #424242);
}

#tool-part {
  background-color: #62c9ba;
}

#tool-part:hover {
  background: radial-gradient(#3fb9a7, #62c9ba);
}

#blog-part h1, #tool-part h1, #setting-part h1 {
  color: #fff;
}

.basic-color {
  color: #62c9ba;
}

.basic-color:hover {
  color: #62c9ba;
}

.courses {
  padding: 40px 0 0;
}

.course {
  margin-bottom: 40px;
  /*
   *  https://github.com/anna-petrikoglou/Portfolio/blob/master/css/style.css
   *  box-shadow: 5px 10px 18px #888888;
   *  or
   *  https://css-tricks.com/almanac/properties/b/box-shadow/
   *  -webkit-box-shadow: 0 10px 6px -6px #777;
   *  -moz-box-shadow: 0 10px 6px -6px #777;
   *  box-shadow: 0 10px 6px -6px #777;
   */

}

.course:last-of-type {
  margin-bottom: 130px;
}

.course > h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 50px;
  color: #62c9ba;
  text-align: center;
}

.course-image {
  margin: auto;
  display: block;
  padding: 25px;
  background-color: #f0f0f0;
  border-radius: 100px;
  height: 120px;
  width: 120px;
}

.course .btn, button {
  color: #fff;
  background-color: #62c9ba;
  border-color: #62c9ba;
}

.course .btn:active {
  background-color: #62c9ba;
  border-color: #62c9ba;
}

.information {
  text-align: center;
}

.course p:last-of-type, .course h6 {
  text-align: center;
}

.playground-general, #article-page {
  background-color: #f0f0f0;
}

.practice-area {
  width: 90%;
  margin: 0 auto;
}

.button-options {
  text-align: center;
}

.button-options button {
  font-family: 'Amatic SC', cursive;
  font-size: 40px;
  float: right;
  outline: none !important;
  border: 0;
  background-color: #f0f0f0;
  box-shadow: none;
  color: #a9a9a9;
}

.button-options button:focus, .button-options button:active {
  outline: none !important;
  border: 0;
  box-shadow: none;
}

.button-options button:hover, .button-options button:visited, .button-options button:active, .button-options button:focus {
  color: #62c9ba;
}

.button-options button i {
  vertical-align: middle;
  font-size: 25px;
}

.account-area .btn:hover {
  color: #fff;
}

.textarea-code {
  /* https://jsfiddle.net/vaakash/5TF5h/ Line numbers */
  /*background: url(http://i.imgur.com/2cOaJ.png);*/
  background: url(../img/code-editor-textarea.png);
  background-attachment: local;
  background-repeat: no-repeat;
  padding-left: 35px;
  padding-top: 10px;
  border-color:#ccc;
  font-size: 12px;
  font-family: monospace;
  text-align: left;
  resize: none;
  background-color: #f8f8f8;
  /* overflow: scroll;

  box-shadow: 0 0 20px;
  transition: 0.3s #62c9ba;

  */
}

.textarea-code:focus, #signuppage input:focus, #loginpage input:focus, .account-area input:focus {
  border: 3px dashed #62c9ba;
  border-radius: 10px;
}

#htmleditor > h2,
#csseditor > h2,
#jseditor > h2,
#phpeditor > h2,
#sqleditor > h2,
.preview > h2 {
  background-color: #d1d1d1;
  border-left: 10px solid #a9a9a9;
  border-right: 10px solid #a9a9a9;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  border-radius: 7px;
  font-family: 'Amatic SC', cursive;
  font-size: 35px;
}

.preview {
  margin-bottom: 70px;
}

#php-preview {
  margin-bottom: 470px;
}

#project-title {
  width: 30%;
}

#project-name {
  font-family: 'Amatic SC', cursive;
  font-size: 50px;
  font-weight: normal;
  vertical-align: middle;
  text-align: left;
  height: 70px;
  float: left;
  padding: 0;
  color: #62c9ba;
  background-color: #f0f0f0;
  border: 0;
  box-shadow: none;
  outline: none !important;
}

.iframe-code {
  min-height: 400px;
  /*border: 5px solid #d1d1d1;*/
}

#signuppage, #loginpage {
  margin-bottom: 70px;
  text-align: center;
}

#signuppage h6, .project-area h6, .account-area h6, .research-area h6, #search-part h4, #search-part h6, .practice-area h4, .practice-area h6 {
  text-align: center;
  line-height: 1.5em;
}

.dashes-separator {
  width: 15%;
}

.dashes-separator div {
  width: 90px;
  height: 900px;
  background-image: url("../img/vertical-dashes.png");
  background-repeat: repeat-y;
  float: right;
}

.playground-nav {
  text-align: center;
  margin-bottom: 110px;
}

.playground-nav * {
  color: #62c9ba;
}

.playground-nav a:first-of-type {
  float: left;
}

.playground-nav a:last-of-type {
  float: right;
}

.playground-nav a:hover, .playground-nav a:focus, .playground-nav a:active {
  text-decoration: none;
  color: #62c9ba;
}

.list-group {
  border-radius: 5px;
  margin: auto;
  padding-bottom: 60px;
}

.list-group-item {
  text-align: center;
}

.list-group-item:first-of-type, .list-group-item:first-of-type:hover {
  background-color: #62c9ba;
  color: #fff;
  cursor: default;
}

.dashboard-info {
  text-align: center;
}

.dashboard-info .form-group, #loginpage .form-group, #signuppage .form-group {
  width: 70%;
  margin: 0 auto;
  text-align: left;
  padding-bottom: 20px;
}

.halfway-left {
  width: 49%;
  float: left;
  display: inline;
}

.halfway-right {
  width: 49%;
  float: right;
  display: inline-block;
}

.shortway-left {
  width: 40%;
  float: left;
  display: inline;
}

.longway-right {
  width: 58%;
  float: right;
  display: inline-block;
}

.dashboard-info p {
  padding-bottom: 20px;
}

.dashboard-info h2 {
  font-family: 'Amatic SC', cursive;
  font-size: 45px;
  color: #62c9ba;
  text-align: center;
}

.dashboard-info h2 i {
  padding-bottom: 10px;
  font-size: 50px;
}

.dashboard-info h2:first-of-type {
  margin-top: 0;
}

.dashboard-info button {
  margin-bottom: 50px;
}

.footer {
  width: 100%;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  /* Set the fixed height of the footer here. */
  height: auto;
  /* Center the text vertically.
   * height: 60px;
   * line-height: 60px;
   */
  background-color: #f8f8f8;
  z-index: 0;
}

.separator {
  width: 100%;
  border-top: 1px solid #e9eaea;
  margin: 20px 0;
}

.footer .container {
  padding-top: 20px;
}

.footer a {
  color: #777;
  font-size: 12px;
}

.footer-info, .footer h4 {
  display: block;
  line-height: 1.5em;
  text-align: left;
}

.social a {
  float: left;
  margin-right: 3px;
  line-height: 10px;
}

/* not working
.social img {
  color: #62c9ba;
}
*/

.copyright {
  color: #62c9ba;
  padding-bottom: 10px;
}

#signature {
  text-align: left;
}





@media screen and (max-width: 499px) {
  .big-image {
    width: 100%;
    height: auto;
  }

  .course {
    width: 80%;
    margin: 0 auto 50px auto;
  }

  .width-limit {
    width: 70%;
  }

  .project-area .container {
    width: 100%;
    margin: 0 auto;
  }

  #project-title {
    width: 100%;
  }

  #project-name {
    text-align: center;
  }

  .button-options button {
    float: none;
    font-size: 30px;
  }

  .button-options button i {
    font-size: 20px;
  }

  table {
    border: 40px solid #fff;
  }

  table th:nth-child(1), table th:nth-child(3), table th:nth-child(4), table th:nth-child(5), table tr td:nth-child(1), table tr td:nth-child(3), table tr td:nth-child(4), table tr td:nth-child(5) {
    display: none;
  }

  .move-to-top {
    display: none;
  }

  #colorPicker, #calculator {
    width: 80%;
    left: 10%;
  }

  .article {
    width: 90%;
  }

  .list-group {
    max-width: 60%;
  }

  .intro > h1, .presentation h1 {
    font-size: 65px;
  }

  .user-steps {
    display: none;
  }

  .user-home-page {
    height: 2300px;
  }

  .user-parts {
    width: 100%;
  }

  .user-parts img {
    width: 70%;
    margin: 0 auto;
  }

  #tool-part, #setting-part, #project-part, #blog-part {
    height: 750px;
  }

  #search-google {
    width: 100%;
  }

  .fa-search {
    font-size: 35px;
  }

  .service-checkboxes {
    padding: 40px 0 0 0;
  }

  .about-performance .story, .about-functionalities .story, .about-support .story {
    padding: 20px 30px;
  }

  #magnifier {
    padding-top: 60px;
    padding-left: 0;
  }

  .about {
    height: 300px;
  }

  .about-control-panel, .percentage {
    display: none;
  }

  .dashes-separator {
    display: none;
  }

  .dashboard-info h2 {
    text-align: center;
  }

}

@media screen and (min-width: 500px) and (max-width: 991px) {
  .big-image {
    padding: 0 12%;
  }

  .course {
    width: 80%;
    margin: 0 auto 50px auto;
  }

  .width-limit {
    width: 60%;
  }

  table th:nth-child(3), table th:nth-child(4), table th:nth-child(5), table tr td:nth-child(3), table tr td:nth-child(4), table tr td:nth-child(5) {
    display: none;
  }

  #project-title {
    width: 100%;
  }

  #project-name {
    text-align: center;
  }

  .button-options button {
    float: none;
    font-size: 35px;
  }

  .button-options button i {
    font-size: 25px;
  }

  .project-area .container {
    width: 90%;
  }

  .move-to-top {
    display: none;
  }

  #colorPicker, #calculator {
    width: 70%;
    left: 15%;
  }

  .list-group {
    max-width: 300px;
  }

  .user-steps {
    display: none;
  }

  .user-home-page {
    height: 2300px;
  }

  .user-parts {
    width: 100%;
  }

  #tool-part, #setting-part, #project-part, #blog-part {
    height: 750px;
  }

  #search-google {
    width: 80%;
    margin: 0 auto;
  }

  #magnifier {
    padding-top: 60px;
    padding-left: 0;
  }

  .about {
    height: 300px;
  }

  .about-control-panel {
    display: none;
  }

  .dashes-separator {
    display: none;
  }

  .dashboard-info h2 {
    text-align: center;
  }

}

@media screen and (min-width: 992px) and (max-width: 1424px) {

  #colorPicker, #calculator {
    width: 70%;
    left: 15%;
  }

  .project-area .container {
    width: 90%;
  }

  #search-google {
    width: 60%;
    margin: 0 auto;
  }

}

@media screen and (min-width: 992px) {
  .test-bars {
    padding: 40px;
  }

  .project-area .container {
    width: 80%;
  }

  .dashboard-info .form-group, #loginpage .form-group, #signuppage .form-group {
    width: 500px;
  }
}



/*
Paragraphs (p)
font-family: 'Montserrat', sans-serif; -YES!
font-family: 'Raleway', sans-serif; -YES
font-family: 'Open Sans Condensed', sans-serif; -NO
font-family: 'Quicksand', sans-serif; --blog
font-family: 'Cairo', sans-serif; -NO
font-family: 'Yantramanav', sans-serif; -NO
font-family: 'Rajdhani', sans-serif; --small
font-family: 'News Cycle', sans-serif; --small
font-family: 'Assistant', sans-serif; --
font-family: 'Didact Gothic', sans-serif; -YES
font-family: 'Wire One', sans-serif; -NO

Headings (h1)
font-family: 'Indie Flower', cursive; -NO
font-family: 'Pacifico', cursive; -NO
font-family: 'Hi Melody', cursive; --
font-family: 'Shadows Into Light', cursive; -YES
font-family: 'Amatic SC', cursive; -YES!
font-family: 'Nanum Pen Script', cursive; -NO
font-family: 'Annie Use Your Telescope', cursive; -NO
font-family: 'Libre Barcode 39 Text', cursive; --barcode

Colors
#d9534f, #337ab7, #f0ad4e


Input Validation:
input:invalid ~ span:after {
    content: '✖';
    padding-left: 5px;
    position: absolute:
}

input:valid ~ span:after {
    content: '✓';
    padding-left: 5px;
    position: absolute:
}


Clear Search:
$(function() {
    // init plugin (with callback)
    $('.search').clearSearch({
    	callback: function() {
      	console.log("search cleared");
        }
      });

});

*/
