html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.warnings {
  text-align: center;
  color: #62c9ba;
  font-size: 15px;
  letter-spacing: 1px;
  margin: 0 auto 40px;
  text-transform: capitalize;
}

.blink {
  /* animation: blinker 1s linear infinite; */
  text-decoration: blink;
	-webkit-animation-name: blink;
	-webkit-animation-duration: 0.6s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:ease-in-out;
	-webkit-animation-direction: alternate;
  border: 2px dashed #62c9ba;
  padding: 10px;
}

.in-the-middle {
  width: 100%;
  height: 600px;
  border-top: 400px solid #fff;
  background-color: #62c9ba;
  position: fixed;
}

.article {
  margin: 20px auto;
  padding: 10px 20px 20px;
  text-align: justify;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
  /*box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);

    background: #ccc;
    background: linear-gradient(45deg, #ccc, #fff);
    min-height: 100%;
  */
}

#last-article {
  margin-bottom: 150px;
}

.article p {
  margin: 15px auto;
}

.article span {
  text-align: left;
  font-size: 12px;
  color: #ccc;
}

.read-article a {
  float: right;
  color: #ccc;
}

.read-article a:hover {
  color: #62c9ba;
}

.article-black {
  background-color: #333;
}

.article-black h3 {
  color: #fff;
}

.article-black p {
  color: #ccc;
}

.article-black img, .article-white img {
  border-radius: 10px;
}

.article-white h3, .article-grey h3, .article-grey span, .article-grey a, .article-yellow h3, .article-yellow p, .article-yellow span, .article-yellow a {
  color: #333;
}

.article-orange {
  background-color: #ee7600;
}

.article-orange h3, .article-orange span, .article-orange a {
  color: #fff;
  border-radius: 0;
}

.article-yellow {
  background-color: #eeed00;
}

.article-grey {
  background-color: #d3d3d3;
}

.article h3 {
  text-align: center;
  padding: 10px 0;
  border-radius: 10px;
  font-family: 'Amatic SC', cursive;
  font-size: 50px;
}

.article a:hover {
  text-decoration: none;
}

.article img {
  max-width: 100%;
  vertical-align:inherit;
}

@-webkit-keyframes blink {
  from {opacity: 1.0;}
  to {opacity: 0.2;}
}

.navbar {
  margin-bottom: 0;
  border-radius: 0px;
  border-top: 0;
  border-right: 0;
  border-left: 0;
}

/*    .navbar-default .navbar-brand {
 *    color: #62c9ba;
 *    }
 *
 *    header {
 *    padding-top: 10px;
 *    text-align: right;
 *
 *    position: fixed;
 *    top: 0;
 *    z-index: 10;
 *    }
 *
 *
 */

main {
  height: auto;
  padding-bottom: 350px;
}

.service-checkboxes {
  width: 80%;
  height: 520px;
  margin: 0 auto;
  padding: 110px 0;
}

.service-checkbox img, .service-checkbox > p {
  display: inline;
  padding: 5px;
  height: 60px;
}

.service-checkbox img:hover, .about-support .about:hover {
  /* https://www.webdesignerdepot.com/2014/05/8-simple-css3-transitions-that-will-wow-your-users/ */
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}

.about {
  height: 520px;
}

#magnifier {
  padding-left: 30px;
}

.about img {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.5;
}

.about-control-panel {
  height: 520px;
}

.about-control-panel ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-left: 1px solid #ccc;
}

.rotate:hover {
  /* https://www.webdesignerdepot.com/2014/05/8-simple-css3-transitions-that-will-wow-your-users/ */
  -webkit-transform: rotateZ(-30deg);
  -ms-transform: rotateZ(-30deg);
  transform: rotateZ(-30deg);
}

.presentation {
  padding-top: 80px;
  padding-bottom: 80px;
}

.about-start {
  background-image: url("../img/articles/background.png");
  border-top: 15px solid #ccc;
}

.about-start .story {
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
}

.about-performance .story, .about-functionalities .story, .about-support .story {
  padding: 60px;
}

#test-scores {
  padding-bottom: 15px;
}

.test-bars {
  width: 80%;
  padding: 20px;
  margin: 0 auto;
}

.test-bars h2 {
  text-align: center;
}

.perform-bar {
  height: 15px;
  border-radius: 20px;
  display: inline-block;
}

#perform-bar-1a {
  width: 62%;
}

#perform-bar-2a {
  width: 85%;
}

#perform-bar-3a {
  width: 71%;
}

#perform-bar-4a {
  width: 53%;
}

#perform-bar-1b, #perform-bar-2b, #perform-bar-3b, #perform-bar-4b {
  position: relative;
  top: -20px;
  left: 0px;
  z-index: -1;
}

.perform-bar:nth-child(odd) {
  background-color: #62c9ba;
  z-index: 1;
}

.perform-bar:nth-child(even) {
  background-color: #e7e7e7;
  width: 100%;
}

.percentage {
  float: right;
}

.client-side {
  color: #fff;
  background-color: #62c9ba;
}

.server-side, .about-services, .about-functionalities {
  background-color: #f8f8f8;
}

.story > p {
  text-align: justify;
  padding-top: 20px;
}

.story > h2 {
  text-align: center;
}

.intro {
  text-align: center;
  margin: 40px 0;
}

.intro > h1, .presentation h1 {
  font-family: 'Amatic SC', cursive;
  text-transform: capitalize;
  text-align: center;
  font-size: 80px;
  margin: 0 auto;
}

.intro > h4 {
  font-size: 20px;
  line-height: 1.5em;
  padding-top: 10px;
}

.basic-color {
  color: #62c9ba;
}

.basic-color:hover {
  color: #62c9ba;
}

.courses {
  padding: 40px 0 0;
}

.course {
  margin-bottom: 40px;
  /*
   *  https://github.com/anna-petrikoglou/Portfolio/blob/master/css/style.css
   *  box-shadow: 5px 10px 18px #888888;
   *  or
   *  https://css-tricks.com/almanac/properties/b/box-shadow/
   *  -webkit-box-shadow: 0 10px 6px -6px #777;
   *  -moz-box-shadow: 0 10px 6px -6px #777;
   *  box-shadow: 0 10px 6px -6px #777;
   */

}

.course:last-of-type {
  margin-bottom: 130px;
}

.course > h1 {
  color: #62c9ba;
}

.course-image {
  margin: auto;
  display: block;
}

.course .btn, button {
  color: #fff;
  background-color: #62c9ba;
  border-color: #62c9ba;
}

.course .btn:active {
  background-color: #62c9ba;
  border-color: #62c9ba;
}

.information {
  text-align: justify;
}

.playground-general, #article-page {
  background-color: #f0f0f0;
}

.practice-area {
  width: 90%;
}

.button-options {
  text-align: center;
}

.textarea-code {
  /* https://jsfiddle.net/vaakash/5TF5h/ Line numbers */
  background: url(http://i.imgur.com/2cOaJ.png);
  background-attachment: local;
  background-repeat: no-repeat;
  padding-left: 35px;
  padding-top: 10px;
  border-color:#ccc;
  font-size: 12px;
  font-family: monospace;
  text-align: left;
  resize: none;
  background-color: #f8f8f8;
  /* overflow: scroll;

  box-shadow: 0 0 20px;
  transition: 0.3s #62c9ba;

  */
}

.textarea-code:focus, #project-title input:focus {
  border: 3px dashed #62c9ba;
  border-radius: 10px;
}

#htmleditor > h2,
#csseditor > h2,
#jseditor > h2,
#phpeditor > h2,
#sqleditor > h2,
.preview > h2 {
  background-color: #d1d1d1;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  border-radius: 10px;
  font-family: 'Amatic SC', cursive;
  font-size: 50px;
}

.preview {
  margin-bottom: 70px;
}

#php-preview {
  margin-bottom: 470px;
}

#project-title {
  float: left;
  margin: 30px auto 10px;
}

#save-project-button {
  float: right;
  margin: 40px auto 10px;
}

.iframe-code {
  min-height: 400px;
}

#signuppage, #loginpage {
  margin-bottom: 70px;
}

#signupimagedown {
  margin: 10px auto 40px auto;
  background-image: url(/codeplayground/img/design.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  min-height: 300px;
}

.playground-nav {
  text-align: center;
  margin-bottom: 110px;
}

.playground-nav * {
  color: #62c9ba;
}

.playground-nav a:first-of-type {
  float: left;
}

.playground-nav a:last-of-type {
  float: right;
}

.playground-nav a:hover, .playground-nav a:focus, .playground-nav a:active {
  text-decoration: none;
  color: #62c9ba;
}

.list-group {
  border-radius: 5px;
  margin: auto;
  padding-bottom: 60px;
}

.list-group-item {
  text-align: center;
}

.list-group-item:first-of-type, .list-group-item:first-of-type:hover {
  background-color: #62c9ba;
  color: #fff;
  cursor: default;
}

.dashboard-info {
  text-align: center;
}

.dashboard-info .form-group {
  width: 70%;
  margin: 0 auto;
  text-align: left;
  padding-bottom: 20px;
}

.dashboard-info p {
  padding: 20px 0;
}

.dashboard-info h2 {
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  color: #62c9ba;
  text-transform: uppercase;
}

.dashboard-info h2:first-of-type {
  margin-top: 0;
}

.dashboard-info button {
  margin-bottom: 80px;
}

.footer {
  width: 100%;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  /* Set the fixed height of the footer here. */
  height: auto;
  /* Center the text vertically.
   * height: 60px;
   * line-height: 60px;
   */
  background-color: #f8f8f8;
  z-index: 0;
}

.separator {
  width: 100%;
  border-top: 1px solid #e9eaea;
  margin: 20px 0;
}

.footer .container {
  padding-top: 20px;
}

.footer a {
  color: #777;
  font-size: 12px;
}

.footer-info, .footer h4 {
  display: block;
  line-height: 1.5em;
  text-align: left;
}

.social a {
  float: left;
  margin-right: 3px;
  line-height: 10px;
}

/* not working
.social img {
  color: #62c9ba;
}
*/

.copyright {
  color: #62c9ba;
}





@media screen and (max-width: 499px) {
  .big-image {
    width: 100%;
    height: auto;
  }

  .list-group {
    max-width: 60%;
  }

  .intro > h1, .presentation h1 {
    font-size: 65px;
  }

  .service-checkboxes {
    padding: 40px 0 0 0;
  }

  .about-performance .story, .about-functionalities .story, .about-support .story {
    padding: 20px 30px;
  }

  #magnifier {
    padding-top: 60px;
    padding-left: 0;
  }

  .about {
    height: 300px;
  }

  .about-control-panel, .percentage {
    display: none;
  }

}

@media screen and (min-width: 500px) and (max-width: 991px) {
  .big-image {
    padding: 0 12%;
  }

  .list-group {
    max-width: 300px;
  }

  #magnifier {
    padding-top: 60px;
    padding-left: 0;
  }

  .about {
    height: 300px;
  }

  .about-control-panel {
    display: none;
  }

}

@media screen and (min-width: 992px) {
  .test-bars {
    padding: 40px;
  }

}



/*
Paragraphs (p)
font-family: 'Montserrat', sans-serif; -YES!
font-family: 'Raleway', sans-serif; -YES
font-family: 'Open Sans Condensed', sans-serif; -NO
font-family: 'Quicksand', sans-serif; --blog
font-family: 'Cairo', sans-serif; -NO
font-family: 'Yantramanav', sans-serif; -NO
font-family: 'Rajdhani', sans-serif; --small
font-family: 'News Cycle', sans-serif; --small
font-family: 'Assistant', sans-serif; --
font-family: 'Didact Gothic', sans-serif; -YES
font-family: 'Wire One', sans-serif; -NO

Headings (h1)
font-family: 'Indie Flower', cursive; -NO
font-family: 'Pacifico', cursive; -NO
font-family: 'Hi Melody', cursive; --
font-family: 'Shadows Into Light', cursive; -YES
font-family: 'Amatic SC', cursive; -YES!
font-family: 'Nanum Pen Script', cursive; -NO
font-family: 'Annie Use Your Telescope', cursive; -NO
font-family: 'Libre Barcode 39 Text', cursive; --barcode

Colors
#d9534f, #337ab7, #f0ad4e
*/
